## Q1. How do you comment code in Python? What are the different types of comments?

In Python, you can use the '#' symbol to create a single-line comment. Anything following the '#' symbol on the same line is considered a comment and is not executed by the Python interpreter. Example:

In [1]:
# This is a single-line comment

For multi-line comments, you can use triple quotes ('''...''') or triple double quotes ("""..."""). Although they are not specifically designed for comments, they can be used as such. Example:

In [2]:
"""
This is a
multi-line
comment
"""

'\nThis is a\nmulti-line\ncomment\n'

## Q2. What are variables in Python? How do you declare and assign values to variables?

Variables in Python are used to store data values. They act as placeholders for storing and manipulating different types of data. You can declare a variable in Python simply by assigning a value to it using the '=' operator. Example:

In [3]:
var = 100

In [4]:
var

100

In the above example, a variable named 'var' is declared and assigned the value 100.

## Q3. How do you convert one data type to another in Python?

To convert one data type to another in Python, you can use built-in functions that correspond to the desired data type. Here are a few commonly used functions:- 
(1) int(): Converts a value to an integer.
(2) float(): Converts a value to a floating-point number.
(3) str(): Converts a value to a string.
(4) list(): Converts a value to a list.
(5) tuple(): Converts a value to a tuple.
Example:

In [5]:
# Converting a string to an integer
s = "123"

In [6]:
i = int(s)

In [7]:
i

123

In the above example, the string "123" is converted to an integer using the int() function.

## Q4. How do you write and execute a Python script from the command line?

To write and execute a Python script from the command line, follow these steps:- 
Step 1: Open a text editor and write your Python code.
Step 2: Save the file with a .py extension, such as 'script.py'.
Step 3: Open the Command Line Interface (CLI) or terminal.
Step 4: Navigate to the directory where your Python script is located using the 'cd' command.
Step 5: Execute the script by typing 'python script.py' in the command line and pressing Enter.

## Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [8]:
my_list = [1,2,3,4,5]

In [9]:
my_list

[1, 2, 3, 4, 5]

In [10]:
sub_list = my_list[1:3]

In [11]:
sub_list

[2, 3]

## Q6. What is a complex number in mathematics, and how is it represented in Python?

In mathematics, a complex number is a number that comprises both a real part and an imaginary part. It is represented in the form 'a + bi', where 'a' is the real part, 'b' is the imaginary part, and 'i' represents the imaginary unit. 
In Python, complex numbers are represented using the 'j' suffix to denote the imaginary part. The 'complex()' function can also be used to create complex numbers explicitly. Example:

In [12]:
# Using the j suffix
c = 2 + 3j

In [13]:
c

(2+3j)

In [14]:
# Using the complex() function
c1 = complex(2, 3)

In [15]:
c1

(2+3j)

## Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

The correct way to declare a variable named 'age' and assign the value 25 to it in Python is as follows:

In [16]:
age = 25

In [17]:
age

25

## Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

To declare a variable named 'price' and assign the value 9.99 to it, you can use the following code:

In [18]:
price = 9.99

In [19]:
type(price)

float

The variable 'price' belongs to the data type "float" since it holds a decimal (floating-point) value.

## Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

To create a variable named 'name' and assign your full name to it as a string, you can use the following code:

In [20]:
name = "Kunal Mishra"

To print the value of the 'name' variable, you can use the 'print()' function:

In [21]:
print(name)

Kunal Mishra

## Q10. Given the string "Hello, World!", extract the substring "World".

In [22]:
my_string = "Hello, World!"

In [23]:
my_string

'Hello, World!'

In [24]:
substring = my_string[7:12]

In [25]:
substring

'World'

## Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

To create a variable named 'is_student' and assign a boolean value indicating whether you are currently a student or not, you can use the following code:

In [26]:
is_student = True

In [27]:
is_student

True

Here, 'True' represents that you are currently a student, while 'False' would indicate that you are not.